@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rubik", sans-serif;
    background-color: rgb(23, 23, 23);
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    margin-top: 8px;
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-track {
    background-color: #52525b;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d4d4d8;
    border-radius: 4px;
  }
  @media (min-width: 1024px) {
    .card-link {
      box-shadow: -0.3em 0px 1em 0em black;
    }

    .cards:hover .card {
      opacity: 0.8;
    }

    .cards:hover .card:hover {
      box-shadow: none;
      opacity: 1;
      z-index: 20;
    }
  }

  .prev,
  .next {
    opacity: 0;
    transition: 300ms;
    padding: 0.1em;
    cursor: pointer;
    visibility: hidden;
  }

  .prev {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }

  .next {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
  }

  .prev:hover,
  .next:hover {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.8);
  }

  .cards:hover :where(.next.show, .prev.show) {
    opacity: 1;
    visibility: visible;
  }

  .details-heading-title {
    position: relative;
  }

  .details-heading-underline {
    position: absolute;
    inset: 0;
    display: inline;
    transform: translate(0%, 10%);
    width: 75%;
    border-bottom: 3px solid #ff6f00;
  }
}
